<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
>
    <uses-feature
            android:name="android.hardware.bluetooth_le"
            android:required="false"/>

    <uses-permission
            android:name="android.permission.BLUETOOTH"
            android:maxSdkVersion="30"/>
    <uses-permission
            android:name="android.permission.BLUETOOTH_ADMIN"
            android:maxSdkVersion="30"/>
    <uses-permission
            android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission
            android:name="android.permission.BLUETOOTH_SCAN"
            android:usesPermissionFlags="neverForLocation"
            tools:targetApi="s"/>
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT"/>
    <uses-permission android:name="android.permission.USE_BIOMETRIC"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_CONNECTED_DEVICE"/>
    <uses-permission android:name="android.permission.REQUEST_COMPANION_START_FOREGROUND_SERVICES_FROM_BACKGROUND"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE"/>
    <uses-permission
            android:name="android.permission.NEARBY_WIFI_DEVICES"
            android:usesPermissionFlags="neverForLocation"
            tools:targetApi="tiramisu"/>

    <application
            android:name=".G700RemoteApplication"
            android:allowBackup="true"
            android:fullBackupContent="@xml/backup_rules"
            android:dataExtractionRules="@xml/data_extraction_rules"
            android:label="@string/app_name"
            android:icon="@mipmap/ic_launcher_gt_black"
            android:roundIcon="@mipmap/ic_launcher_gt_black"
            android:supportsRtl="true"
            android:theme="@style/Theme.G700Remote"
            tools:targetApi="s">
        <meta-data
                android:name="com.google.firebase.messaging.default_notification_icon"
                android:resource="@drawable/ic_jetour_logomark"/>
        <meta-data
                android:name="com.google.firebase.messaging.default_notification_color"
                android:resource="@color/notification_accent"/>
        <meta-data
                android:name="com.google.firebase.messaging.default_notification_channel_id"
                android:value="@string/fcm_default_channel_id"/>

        <activity
                android:name=".MainActivity"
                android:exported="true"
                android:theme="@style/Theme.G700Remote">
            <intent-filter>
                <action android:name="android.intent.action.SEND"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="text/plain"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="geo"/>
                <data android:scheme="google.navigation"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="https" android:host="maps.app.goo.gl"/>
                <data android:scheme="https" android:host="maps.google.com"/>
                <data android:scheme="https" android:host="www.google.com" android:pathPrefix="/maps"/>
            </intent-filter>
        </activity>

        <activity-alias
                android:name=".LauncherGtBlack"
                android:enabled="true"
                android:exported="true"
                android:icon="@mipmap/ic_launcher_gt_black"
                android:roundIcon="@mipmap/ic_launcher_gt_black"
                android:label="@string/app_name"
                android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity-alias>

        <activity-alias
                android:name=".LauncherGtHorizon"
                android:enabled="false"
                android:exported="true"
                android:icon="@mipmap/ic_launcher_gt_horizon"
                android:roundIcon="@mipmap/ic_launcher_gt_horizon"
                android:label="@string/app_name"
                android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity-alias>

        <activity-alias
                android:name=".LauncherGtDune"
                android:enabled="false"
                android:exported="true"
                android:icon="@mipmap/ic_launcher_gt_dune"
                android:roundIcon="@mipmap/ic_launcher_gt_dune"
                android:label="@string/app_name"
                android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity-alias>

        <activity-alias
                android:name=".LauncherDisplayMirror"
                android:enabled="false"
                android:exported="true"
                android:icon="@mipmap/ic_launcher"
                android:roundIcon="@mipmap/ic_launcher_round"
                android:label="@string/app_name"
                android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity-alias>

        <service
                android:name=".ConnectedCarNotificationService"
                android:exported="false"
                android:foregroundServiceType="connectedDevice"/>

        <service
                android:name=".messaging.G700FirebaseMessagingService"
                android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>

        <service
                android:name=".blewake.G700CompanionDeviceService"
                android:exported="true"
                android:permission="android.permission.BIND_COMPANION_DEVICE_SERVICE">
            <intent-filter>
                <action android:name="android.companion.CompanionDeviceService"/>
            </intent-filter>
        </service>

        <receiver
                android:name=".blewake.BleWakeReceiver"
                android:exported="false"/>

        <receiver
                android:name=".blewake.BleWakeBootReceiver"
                android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED"/>
            </intent-filter>
        </receiver>

        <provider
                android:name="androidx.core.content.FileProvider"
                android:authorities="${applicationId}.fileprovider"
                android:exported="false"
                android:grantUriPermissions="true">
            <meta-data
                    android:name="android.support.FILE_PROVIDER_PATHS"
                    android:resource="@xml/update_file_paths"/>
        </provider>
    </application>

</manifest>
